Maquettes-*/
Menus*/
.vscode/
Mitr*/
Devonshire*/
Komika*/
Croissant-One*/
croissantone*/
ffonts.net.htm
ffonts.net.txt
install-a-new-font.txt
quick_tips.html
Dancing*/
DJB Sarah prints.ttf
cf_jacques_cartier_-_read_me.rtf
cfjacquescartier-regular.ttf
cf_jacques_cartier_font-_glyphs_com.png
jacques_cartier_banner.png