//sommaire
//14 : declarations des polices
//48 : mixins, keyfrmaes, animations et variables
//274 : mise en CSS page index
//518 :  mise en style CSS menu 1 la note enchantée:
//660 : mise en page CSS menu 2 le chic a la francaise
//781 : style menu 3 le délice des papilles
//898 : mise en forme css menu 4 la palette du gout
//1005 : mise ne pages css mentions légales


//déclaration des polices

@font-face {
    font-family:"Mitr-Medium" ;
    src: url('Mitr-SemiBold.ttf') format('truetype');
}
@font-face {
    font-family: "Devonshire";
    src: local("C:/Users/boire/OneDrive/Documents/Opensclassroom/FORMATION/projet3/Devonshire-Regular/devonshire/Devonsire-Regular.ttf") format('truetype');
}
@font-face {
    font-family: "Komika Text";
    src: local("KOMTXT_.TTF") format('truetype');
}
@font-face {
    font-family:'croissantone';
    src: url("Croissant-One/croissantone/CroissantOne-regular.ttf") format('truetype');
}
@font-face{
    font-family:'Dancing-Script' ;
    src: url('Dancing-Script-Bold/dancingscript/DancingScript-Bold.ttf') format('truetype');
}
@font-face{
    font-family: 'Segoe Print';
    src: local("SEGOEPR.TTF") format("truetype");
}
@font-face{
    font-family: 'Kaushan-Script';
    src: url('Kaushan-Script/Kaushanscript/KaushanScript-Regular.ttf') format("truetype");
}
// mixins, keyframes, animations et variables 
@mixin presentation-du-menu-prix{
    width: 100%;
    display: flex;
    flex-direction: column;
}
@mixin style-menu
{   display: flex;
    flex-direction: row;
    justify-content: space-between;
}
@mixin style-menu-res
{   display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    padding:0;
    text-align:center ;
    width:auto;
    flex-wrap: wrap;
}
$animate: width  0.2s ease-in-out,opacity 0.2s ease-in-out;
@mixin titre-souligné-chic
{
    .hover
    {   
        text-align: center;
        margin:0,auto;
        transition:$animate;
        position: relative;
        &:after
        {
            content: "";
            position:absolute;
            bottom: -5px;
            left:0;
            width:0px;
            height: 5px;
            transition:$animate;
            transition-duration: 0.75s;
            opacity:0;
            background:linear-gradient(to right,#d8852e,#905bfd);
        }
    }
    &:hover
    {
        .hover
        {
            &:after
            {
                width:100%;
                opacity:1;
            }
        }
    }    
}
@mixin titre-souligné-enchantee
{
    .hover
    {   
        text-align: center;
        margin:0,auto;
        transition:$animate;
        position: relative;
        &:after
        {
            content: "";
            position:absolute;
            bottom: -5px;
            left:0;
            width:0px;
            height: 5px;
            transition:$animate;
            transition-duration: 0.75s;
            opacity:0;
            background:rgb(60 18 24);
        }
    }
    &:hover
    {
        .hover
        {
           &:after
            {
                width:100%;
                opacity:1;
            }
        }
    }    
}
@mixin titre-souligné-papilles
{
    .hover
    {   
        text-align: center;
        margin:0,auto;
        transition:$animate;
        position: relative;
        &:after
        {
            content: "";
            position:absolute;
            bottom: -5px;
            left:0;
            width:0px;
            height: 5px;
            transition:$animate;
            transition-duration: 0.75s;
            opacity:0;
            background:linear-gradient(to right,rgb(6,69,229),rgb(8,135,251,0.6));
        }
    }
    &:hover
    {
        .hover
        {
           &:after
            {
                
                width:100%;
                opacity:1;
            }
        }
    }    
}
@mixin titre-souligné-gout
{
    .hover
    {   
        text-align: center;
        margin:0,auto;
        transition:$animate;
        position: relative;
        &:after
        {
            content: "";
            position:absolute;
            bottom: -5px;
            left:0;
            width:0px;
            height: 5px;
            transition:$animate;
            transition-duration: 0.75s;
            opacity:0;
            background:linear-gradient(to right, rgb(86,168,71),rgb(191,255,126));;
        }
    }
    &:hover
    {
        .hover
        {
            &:after
            {
                width:100%;
                opacity:1;
            }
        }
    }    
}
@mixin margin-block-main
{
    h3{
        font-weight: bold;
        text-align: center;
    }
}
$color_headfoot:rgb(87,156,135);
$color-fondnote: rgb(252,223,219);
$color_fondnote-start:rgba(252,223,219,1);
$color_fondnote-end:rgba(252,223,219,0.7);
$color_fondchic:rgb(255,245,254);
$color_fondchic-start:rgba(255,245,254,1);
$color_fondchic-end:rgba(255,245,254,0.7);
$color-fondpapilles: rgb(249,249,249);
$color_fondpapilles-start:rgba(249,249,249,1);
$color_fondpapilles-end:rgba(249,249,249,0.7);
$color_fondgout-start:rgba(253,253,253,1);
$color_fondgout-end:rgba(253,253,253,0.7);
$color_text_h1:rgb(253,203,70);
@keyframes wiggle{
    0%{transform:  translateX(5px);}
    5%{transform:  translateY(5px);}
    10%{transform: translateX(-5px);}
    15%{transform: translateY(-5px);}
    20%{transform: translateX(5px);}
    25%{transform: translateY(5px);}
    30%{transform: translateX(-5px);}
    35%{transform: translateY(-5px);}
    40%{transform: translateX(5px,);}
    45%{transform: translateY(5px);}
    50%{transform: translateX(-5px);}
    55%{transform: translateY(-5px);}
    60%{transform: translateX(5px);}
    65%{transform: translateY(5px);}
    70%{transform: translateX(-5px);}
    75%{transform: translateY(-5px);}
    80%{transform: translateX(5px);}
    85%{transform: translateY(5px);}
    90%{transform: translateX(-5px);}
    95%{transform: translateY(-5px);}
    100%{transform: translateX(5px,);}
}
@keyframes progress-3pts{
    0%{transform:  translateY(-5px);}
    10%{transform: translateY(-6px);}
    20%{transform: translateY(-7px);}
    30%{transform: translateY(-8px);}
    40%{transform: translateY(-9px);}
    50%{transform :translateY(-10px);}
    60%{transform: translateY(-11px);}
    70%{transform: translateY(-12px);}
    80%{transform: translateY(-13px);}
    90%{transform: translateY(-14px);}
    100%{transform: translateY(-15px);}
}
$anim-dur:400ms;
$num-pts:3;
$anim-delay:$anim-dur/$num-pts;
//mise en style CSS page index
body
{
    margin:0;
}
#bloc-page 
{
    margin:auto;
    width:1100px;
    background-color:white;
}
header
{
    display: flex;
    justify-content:center ;
    align-items: center;
    height:161px;    
    border-bottom: 2px rgb(161, 193, 129 ) solid;
    background-color:$color_headfoot;
    width: auto;
}
h1
{
    font-size:60px;
    font-family: 'Mitr-SemiBold',Arial,sans-serif;
    color: $color_text_h1;
    align-items: center;
}
a
{
    text-decoration: none;
    margin: 20px;
    
}   
.sommaire
{
    display: flex;
    flex-direction: column;
    height: 100%;
    align-items:stretch ;
     .haut-menu
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        padding-top:64px;
        height:514px;
        width: auto;
        .note
        {
            background-color:$color_fondnote-start;
            transition:transform 450ms,background-color 450ms;
            &:hover
            {
                transform: scale(1.1);
                background-color: $color_fondnote-end;
            }            
        }  
        .haut-menu__un 
        {
            display: flex;
            flex-direction: column;
            flex-wrap: nowrap;
            justify-content: center;
            text-align: center;
            align-items: center;
            width:369px;
            height: 100%;
            box-shadow:             
            0 0 5px 2px hsl(0, 0%, 90%);
            font-family: "Devonshire";
            font-size: 30px; 
            color: rgb(60 18 24);
            .menu-un
            {
                margin-top: 20px; 
                font-family: "Komika Text";
                font-weight: bold;
                font-size: 40px;
                color:rgb(60 18 24); 
            }
            
        }   
        .chic
        {   
            background-color: $color_fondchic-start;
            transition:transform 450ms, background-color 450ms;
            &:hover
            {
                transform: scale(1.1);
                background-color: $color_fondchic-end;
            }         
        }
        .haut-menu__deux
        {
            background-color: $color_fondchic-start;
            display: flex;
            flex-direction: column;
            justify-content: center;
            text-align: center;
            align-items: center;
            width:369px;
            height: 100%;
            box-shadow:             
            0 0 5px 2px hsl(0, 0%, 90%);
            font-family:"croissantone";
            font-size: 25px;
            background-image: linear-gradient(to right,#d8852e,#905bfd); 
            color:transparent;
            background-clip:text;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            .menu-deux
            {
                font-family: 'Lucida Fax', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, 'Verdana', 'sans-serif';
                font-weight: bold;
                font-size: 40px;
                color: rgb(199 116 18);
                margin-top:20px;
            }
        }  
    }
    .bas-menu 
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        height: 514px;
        .papilles
        {
            background-color: $color_fondpapilles-start;
            transition:transform 450ms, background-color 450ms; 
            &:hover
            {
                transform: scale(1.1);
                background-color: $color_fondpapilles-end;
            }         
        }
        .bas-menu__trois
        {
            display:flex;
            flex-direction: column;
            justify-content:center; 
            text-align: center;
            width:369px;
            height: 100%;
            box-shadow:             
            0 0 5px 2px hsl(0, 0%, 90%);
            font-family: 'Dancing-Script';
            font-size: 40px;
            font-weight: bold;
            background-image: linear-gradient(to right,rgb(6,69,229),rgb(8,135,251));
            color: transparent;
            background-clip: text;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            .menu-trois
            {
                font-family: "Segoe Print";
                margin-top:20px;
                font-weight: lighter;
                color:rgb(8 135 251)
            }
        }
        .gout
        {
            background-color: $color_fondgout-start;
            transition:transform 450ms, background-color 450ms;
            &:hover
            {
                transform: scale(1.1);
                background-color: $color_fondgout-end;
                
            }         
        }
        .bas-menu__quatre
        {
            display: flex;
            flex-direction: column;
            justify-content: center;
            background:$color_fondgout-start;
            text-align: center;
            width: 369px;
            height: 100%;
            box-shadow:             
            0 0 5px 2px hsl(0, 0%, 90%);
            font-family: 'Kaushan-Script';  
            font-size: 40px;
            background-image: linear-gradient(to right, rgb(86,168,71),rgb(191,255,126));
            color:transparent;
            background-clip: text;
            -webkit-background-clip: text;
            -moz-background-clip: text;
            .menu-quatre
            {
                font-family: 'Segoe Print';
                font-size: 40px;
                color: rgb(114, 191, 86);
            }
        }
        
    }
}
.cadre 
{
    @media (max-width: 1024px) 
    {         
        height :500px !important;
    }
} 
.colonne
{   
    @media (max-width: 1024px)
    {
        display: flex !important;
        flex-direction: column !important; 
        align-items: center !important;
        justify-content: space-around !important;
        height: 100% !important;
        width:auto;
    }    
}
.après
{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:30%;
    height: 81px;
    background:$color_headfoot;
    color: $color_text_h1;
    margin:auto;
    border-radius:10px;
    font-size:200%;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: lighter;
    margin-bottom: 130px;
    .trois-points
    {
        display:flex;
        flex-direction: row;
        justify-content: center;
        align-items: baseline;
        &__bar
        {
            animation: progress-3pts $anim-dur forwards ease-in-out infinite;
            animation-direction: alternate;
            @for $i from 1 through $num-pts 
            {
                &--#{$i}
                {animation-delay: $anim-delay*$i;}       
            }
        }
    }
    @media (max-width:1024px)
    {
        font-size:100%;
    }
}  
footer
{
    display:flex;
    align-items: center;
    height:112px;
    margin-top: 48PX;
    background-color: $color_headfoot;
    justify-content:space-between ;
    padding:0 15px 0 15px;
    width:100%;
    position: fixed; 
    left:0%;
    bottom:0%; 
    @media(max-width: 1024px)
    {
        justify-content:center;
    }
    a{
        text-decoration: none;
        color:$color_text_h1;
        font-size:40px ;
        font-family: Arial, Helvetica, sans-serif;
        &:hover{
            animation-name: wiggle;
            animation-duration : 0.8s;
            animation-iteration-count:infinite ;
        }
        
    }
    
}  
// mise en style CSS menu 1 la note enchantée:
h2
{
    font-size: 3rem;
    margin-bottom: 70px;
    text-align: center;
}
.repas1
{
    display: flex;
    flex-direction: column;
    background:$color_fondnote-start;
    justify-content: space-around;
    align-items: center;
    height: 100%;
    box-shadow:             
    0 0 5px 2px hsl(0, 0%, 90%); 
    font-size: 20px; 
    color: rgb(60 18 24);
    margin:0 20% 0 20%;
    @media(max-width:1024px)
    {
        padding:0 10px 50px 10px;
    }
    .titre-menu__un
    {
        display:flex;
        flex-direction: column;
        justify-content: center;
        text-align: center;
        align-items: center;
        font-size: 3em;
        font-weight: bold;
        font-family:'Devonshire-Regular';
        padding-bottom: 70px;
        .musique
        {
            padding-top: 50px;
            width: 50px;
            height: 50px;
        }
    }
    .entrees
    {   margin-bottom: 70px;
        @include presentation-du-menu-prix;
    }
    .ravioles,.caviar,.homard, .foie-gras
    {
        @include style-menu;
        font-family: "Segoe Print";
    }
    h3
    {   display:flex;
        flex-direction: row;
        justify-content: space-between;
        margin-bottom: 30px;
        text-align: center;
        @include titre-souligné-enchantee;
        font-family: "Segoe Print";
        font-weight: bold;
        font-size: 30px;
        @media(max-width:1228px)
        {
            display:inline-block;
        }
        >.trait, .trait-d
        {
            width: 280px;
            @media (max-width:1228px)
            {
                display:none;
            }
        }
    }
    .plat
    {
        margin-bottom: 70px;
        @include presentation-du-menu-prix;
    }
    .noix, .langoustine, .mijote
    {
        @include style-menu;
        font-family: "Segoe Print";
    }
    .fin
    {
        display: flex;
        flex-direction: row;
        justify-content: center;
        text-align:center;
        align-items: center;
        font-family: "Devonshire-Regular";
        font-size: 45px;
        margin-top: 100px;
        margin-bottom: 70px;
    }
    .dessert
    {
        @include presentation-du-menu-prix;
        >p
        {
            font-family: "Segoe Print";
            @media(max-width: 1024px)
            {
                line-height: 2;
            }
        }
    }    
    .plat-prix
    { 
        @include style-menu;
        @media(max-width:1024px)
        {@include style-menu-res;
        }
    }  
}    
// mise en page CSS menu 2 le chic a la francaise
.repas2
{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background-color: $color_fondchic-start;
    height: 100%;
    font-family:"Baskerville Old face","bell MT";
    font-size: 20px;
    margin: 0 20% 0 20%;
    box-shadow:              
    0 0 5px 2px hsl(0, 0%, 90%);
    padding: 80px  120px 120px 120px ; 
    @media(max-width:1024px)
    {
        padding:0 10px 50px 10px;
    }
    .chic2
    {
        margin: 90px,0,90px,0;
    }
    .titre-menu_deux
    {
        text-align: center;
        margin-bottom: 150px;
        font-size:2em;
        font-family: 'croissantone';
        background-image: linear-gradient(to right,#d8852e,#905bfd); 
        color:transparent;
        background-clip:text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
    }
    .entre2
    {
        @include presentation-du-menu-prix;
        color: #d8852e;
        margin-bottom: 70px;
    }
    .tartare, .veloute, .soupe
    {
        @include style-menu;
        font-family:"Lucida fax";
    }
    h3 
    {   
        display:flex;
        flex-direction: row;
        justify-content:space-between ;
        text-align: center;
        font-weight: bold;
        padding:0;
        width:inherit;
        @include titre-souligné-chic;
        font-family:"Lucida fax";
        @media(max-width:1024px)
        {
            display:inline-block;
        }
        .chic1g,.chic1d
        {
            width: 200px;
            @media (max-width:1420px)
            {
                display: none;
            }
        }
    }
    .plat2
    {   
        color:#b37097;
        margin-bottom: 70px;
        @include presentation-du-menu-prix;
    }
    .st-jacques, .magret, .pigeonneau
    {
        @include style-menu;
        font-family:"Lucida Fax"; 
    }
    .dessert2
    {
        @include presentation-du-menu-prix;
        color:#905bfd;
        margin-bottom: 70px;
        line-height: 2;
    }
    .type-dessert 
    {
        @include style-menu;
        font-family:"Lucida fax";
    }
    .plat-prix
    { 
        @media(max-width:1024px)
        {
            @include style-menu-res;
        }
    }      
}  
//style menu 3 le délice des papilles
.repas3
{
    display:flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $color_fondpapilles-start;
    margin:0 20% 0 20%;
    box-shadow:              
    0 0 5px 2px hsl(0, 0%, 90%);
    padding: 80px  120px 120px 120px ; 
    font-family:'Dancing-Script',"Palace Script MT","Kunstler Script" ;
    font-weight: bold;
    @media(max-width:1024px)
    {
        padding:0 10px 50px 10px;
    }
    .titre-menu
    {
        background-image: linear-gradient(to right,rgb(6,69,229),rgb(8,135,251,0.6));
        color:transparent;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
    }
    .entre3
    {
        @include presentation-du-menu-prix;
        padding-top:120px;
        padding-bottom:100px;
    }
    .tartare, .bouchee, .cepes
    {
        @include style-menu;
        padding-bottom: 10px;
        font-family: "Segoe Print";
    }
    h3
    {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        @media(max-width:11440024px)
        {
            display: inline-block;
            text-align:center;
        }
        .trait_g,.trait_d   
        {
            width: 280px;
            @media (max-width:1440px)
            {
                display: none;
            }
        }
        @include titre-souligné-papilles;
        font-family: "Segoe Print";
    }
    .plat3
    {
        font-family:"Segoe Print" ;
        @include presentation-du-menu-prix;
        padding-bottom: 100px;
    }    
    .poulet, .langouste, .cote
    {
        @include style-menu;
        padding-bottom: 10px;
        font-family: "Segoe Print";
    } 
    .dessert3
    {
        font-family:"Segoe Print" ;
        @include presentation-du-menu-prix;
        padding-bottom:100px; 
    }
    .farandole, .creme, .tiramisu 
    {
        @include style-menu;
        padding-bottom: 10px;
        font-family: "Segoe Print";
    }
    span
    {
        font-size: 20px;
    }   
    h2, h3
    {
        font-weight: normal;
    }
    h3
    {
        padding-bottom: 20px;
    }    
    .plat-prix
    { 
        @media(max-width:1024px)
        {
            @include style-menu-res;
        }
    }                     
}    
//mise en forme css menu 4 la palette du gout
.repas4
{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    background-color: $color_fondgout-start;
    margin: 0 20% 0 20%;
    height: 100%;
    box-shadow:              
    0 0 5px 2px hsl(0, 0%, 90%);
    padding: 80px  120px 120px 120px ; 
    font-family:'Kaushan-Script' ;
    font-weight: bold;
    @media(max-width:1024px)
    {
        padding:0 10px 50px 10px;
    }
    h2
    {
        background-image: linear-gradient(to right, rgb(86,168,71),rgb(191,255,126));
        color:transparent;
        background-clip: text;
        -webkit-background-clip: text;
        -moz-background-clip: text;
    }
    h3
    { 
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        text-align: center;
        font-weight: bold;
        @include titre-souligné-gout;
        font-family: "Segoe Print";
        @media(max-width:1440px)
        {
            display:inline-block;
            text-align: center;
        }
        .trait-gout-g,.trait-gout-d
        {   
            width:330px;
            @media (max-width:1440px)
            {
                display: none;
            }
        }
    }             
    .entre4
    {
        
        @include presentation-du-menu-prix;
        padding-top:120px;
        padding-bottom:100px;
    }
    .fricassee, .oeuf, .foie
    {
        @include style-menu;
        padding-bottom: 10px;
        font-family: "Segoe Print";
    }
    .plat4
    {
        @include presentation-du-menu-prix;
        padding-bottom:100px;
    }
    .filet, .parmentier, .turbot
    {
        @include style-menu;
        padding-bottom: 10px;
        font-family: "Segoe Print";
    }
    .dessert4
    {
        @include presentation-du-menu-prix;
        padding-bottom:100px;
    }
    .paris-brest, .macaron, .mousse
    {
        @include style-menu;
        padding-bottom: 10px;
        font-family: "Segoe Print";
    }
    .plat-prix
    { 
    @media(max-width:1024px)
        {
            @include style-menu-res;
        }
    }                     
}
//mise ne pages css mentions légales
h1 {text-align:center;}
.bloc-page
{
    display: flex;
    flex-direction: column;
    align-items: center;
    p 
    {
        font-family: Arial, Helvetica, sans-serif;
        text-align: left;
        span{ font-weight:bold;}
    }
    border: 3px grey ridge; 
    width: 800px;
    margin:auto;
    padding:0 5px 0 8px;
}




























