$color_headfoot:rgb(87,156,135);
$color_fondnote:rgb(252,223,219);
$color_fondchic:rgb(255,245,254);
$color_fondpapilles:rgb(249,249,249);
$color_fondgout:rgb(253,253,253);
$color_text_h1:rgb(253,203,70);

@font-face {
    font-family:"Mitr-Medium" ;
        src: url('"Mitr-SemiBold.ttf')format('truetype');
}

body{
    height: 1606px;
    //width: 1024px;
}
#bloc-page 

{
    background-color:white;
    //width:1024px;
    height:1606px;
}
header{
    display: flex;
    justify-content:center ;
    align-items: center;
    height:161px;    
    border-bottom: 2px rgb(161, 193, 129 ) solid;
    background-color:$color_headfoot;
}
h1{
    font-size:60px;
    font-family: 'Mitr-SeliBold',Arial,sans-serif;
    color: $color_text_h1;
    align-items: center;
    
    }
main{
    display: flex;
    flex-direction: column;
    height: 1204px;
    align-items: center;
   
    .haut-menu {
        display: flex;
        flex-direction: row;
        padding-top:64px;
        height:514px;
        width: 100%;
        a{
            flex:1
        }
        
        .haut-menu__un {
            display: flex;
            flex-direction: column;
            background:$color_fondnote;
            justify-content: center;
            text-align: center;
            align-items: center;
            margin: 0;
            
            width:100%;
            height: 100%;
            box-shadow:             
             0 0 5px 2px hsl(0, 0%, 90%), 
             
            }
            
        
        .haut-menu__deux {
            display: flex;
            flex-direction: column;
            background:$color_fondchic;
            justify-content: center;
            text-align: center;
            align-items: center;
            margin:0 0 0 60px;
            width:100%;
            height: 100%;
            box-shadow:             
             0 0 0 2px hsl(0, 0%, 90%), 
             
            }
        }
   
    .bas-menu {
    display: flex;
    flex-direction: row;
    height: 514px;
    padding-top: 64px;
    margin-bottom: 48px;
    
        .bas-menu__trois{
            display:flex;
            justify-content: center;
            background:$color_fondpapilles;
            box-shadow:             
             0 0 0 2px hsl(0, 0%, 90%), 
             0 0 0 3px hsl(0, 0%, 95%);
            text-align: center;
            align-items: center;
            margin:0;
            width:369px;
            }
            
            
        .bas-menu__quatre{
            display: flex;
            justify-content: center;
            background:$color_fondgout;
            text-align: center;
            align-items: center;
            margin:0 0 0 60px;
            width: 369px;
            box-shadow:             
             0 0 0 2px hsl(0, 0%, 90%), 
             0 0 0 3px hsl(0, 0%, 95%);
            }
        }
}

.après{
    display:flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    text-align: center;
    width:50%;
    height: 81px;
    background:$color_headfoot;
    color: $color_text_h1;
    margin:auto;
    border-radius:10px;
    font-size:60px;
} 
footer{
    display:flex;
    align-items: center;
    height:112px;
    margin-top: 48PX;
    background-color: $color_headfoot;
    justify-content:space-between ;
    padding:0 15px 0 15px;
    a{
        text-decoration: none;
        color:$color_text_h1;
        font-size:40px ;

    }

}  
        
    

