@charset "UTF-8";
@font-face {
  font-family: "Devonshire";
  src: local("C:/Users/boire/OneDrive/Documents/Opensclassroom/FORMATION/projet3/Devonshire-Regular/devonshire/Devonsire-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Komika Text";
  src: local("KOMTXT_.TTF") format("truetype");
}
@font-face {
  font-family: "croissantone";
  src: url("Croissant-One/croissantone/Croissant-One.ttf") format("truetype");
}
@font-face {
  font-family: "Dancing-Script";
  src: url("Dancing-Script-Bold/dancingscript/DancingScript-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Segoe Print";
  src: local("SEGOEPR.TTF") format("truetype");
}
@font-face {
  font-family: "Kaushan-Script";
  src: url("Kaushan-Script/Kaushanscript/KaushanScript-Regular.ttf") format("truetype");
}
@keyframes wiggle {
  0% {
    transform: translateX(5px);
  }
  5% {
    transform: translateY(5px);
  }
  10% {
    transform: translateX(-5px);
  }
  15% {
    transform: translateY(-5px);
  }
  20% {
    transform: translateX(5px);
  }
  25% {
    transform: translateY(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  35% {
    transform: translateY(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  45% {
    transform: translateY(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  55% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateX(5px);
  }
  65% {
    transform: translateY(5px);
  }
  70% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateY(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  85% {
    transform: translateY(5px);
  }
  90% {
    transform: translateX(-5px);
  }
  95% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}
@keyframes progress-3pts {
  0% {
    transform: translateY(0px);
  }
  100% {
    transform: translateY(-15px);
  }
}
header {
  display: flex;
  flex-direction: column;
  justify-content: stretch;
  align-items: center;
  height: 161px;
  border-bottom: 2px #a1c181 solid;
  background-color: #579c87;
  width: 100%;
}
@media (max-width: 1100px) {
  header {
    display: flex;
    flex-direction: column;
    align-items: space-between;
    max-width: auto;
  }
}

h1 {
  display: flex;
  font-size: 60px;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  color: #fdcb46;
  text-align: center;
}
@media (max-width: 1024px) {
  h1 {
    width: auto;
  }
}

a {
  display: block;
  text-decoration: none;
}

footer {
  display: flex;
  align-items: center;
  height: 112px;
  margin-top: 48PX;
  background-color: #579c87;
  justify-content: space-between;
  padding: 0 30px 0 15px;
  width: 100%;
  position: fixed;
  left: 0%;
  bottom: 0%;
}
footer a {
  text-decoration: none;
  color: #fdcb46;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
  padding: 30px;
}
footer a:hover {
  animation-name: wiggle;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}
@media (max-width: 768px) {
  footer a {
    justify-content: center;
    font-size: 16px;
  }
}

.sommaire {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}
@media (max-width: 1024px) {
  .sommaire {
    width: auto;
  }
}
.sommaire .menu0 {
  display: flex;
  flex-direction: column;
  margin-top: 30px;
}
.sommaire .menu0 .menu-h {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 514px;
  align-items: center;
  margin-bottom: 40px;
}
.sommaire .menu0 .menu-h .note {
  text-decoration: none;
  margin: 20px;
  background-color: #fcdfdb;
  transition: transform 450ms, background-color 450ms;
}
.sommaire .menu0 .menu-h .note:hover {
  transform: scale(1.1);
  background-color: rgba(252, 223, 219, 0.7);
}
.sommaire .menu0 .menu-h .note .menus__un {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 369px;
  height: 514px;
  box-shadow: 0 0 5px 2px #e6e6e6;
  font-family: "Devonshire";
  font-size: 30px;
  color: #3c1218;
}
.sommaire .menu0 .menu-h .note .menus__un .menu-un {
  margin-top: 20px;
  font-family: "Komika Text";
  font-weight: bold;
  font-size: 40px;
  color: #3c1218;
}
.sommaire .menu0 .menu-h .chic {
  text-decoration: none;
  margin: 20px;
  background-color: #fff5fe;
  transition: transform 450ms, background-color 450ms;
}
.sommaire .menu0 .menu-h .chic:hover {
  transform: scale(1.1);
  background-color: rgba(255, 245, 254, 0.7);
}
.sommaire .menu0 .menu-h .chic .menus__deux {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 369px;
  height: 514px;
  box-shadow: 0 0 5px 2px #e6e6e6;
  font-family: "croissantone";
  font-size: 25px;
  background-image: linear-gradient(to right, #d8852e, #905bfd);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}
.sommaire .menu0 .menu-h .chic .menus__deux .menu-deux {
  font-family: "Lucida Fax", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, "Verdana", "sans-serif";
  font-weight: bold;
  font-size: 40px;
  color: #c77412;
  margin-top: 20px;
}
.sommaire .menu0 .menu-b {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 514px;
  align-items: center;
}
.sommaire .menu0 .menu-b .papilles {
  text-decoration: none;
  margin: 20px;
  background-color: #f9f9f9;
  transition: transform 450ms, background-color 450ms;
}
.sommaire .menu0 .menu-b .papilles:hover {
  transform: scale(1.1);
  background-color: rgba(249, 249, 249, 0.7);
}
.sommaire .menu0 .menu-b .papilles .menus__trois {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 369px;
  height: 514px;
  box-shadow: 0 0 5px 2px #e6e6e6;
  font-family: "Dancing-Script";
  font-size: 40px;
  font-weight: bold;
  background-image: linear-gradient(to right, #0645e5, rgba(8, 135, 251, 0.7));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}
.sommaire .menu0 .menu-b .papilles .menus__trois .menu-trois {
  font-family: "Segoe Print";
  margin-top: 20px;
  font-weight: lighter;
  color: #0887fb;
}
.sommaire .menu0 .menu-b .gout {
  text-decoration: none;
  margin: 20px;
  background-color: #fdfdfd;
  transition: transform 450ms, background-color 450ms;
}
.sommaire .menu0 .menu-b .gout:hover {
  transform: scale(1.1);
  background-color: rgba(253, 253, 253, 0.7);
}
.sommaire .menu0 .menu-b .gout .menus__quatre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 369px;
  height: 514px;
  box-shadow: 0 0 5px 2px #e6e6e6;
  font-family: "Kaushan-Script";
  font-size: 40px;
  background-image: linear-gradient(to right, #56a847, #bfff7e);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}
.sommaire .menu0 .menu-b .gout .menus__quatre .menu-quatre {
  font-family: "Segoe Print";
  font-size: 40px;
  color: #72bf56;
}
@media (max-width: 410px) {
  .sommaire .menu0 .cadre {
    height: 412px !important;
    width: 295px !important;
  }
}
@media (max-width: 767px) {
  .sommaire .menu0 .colonne {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 100%;
  }
}
.sommaire .menu0 .après {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
  height: 81px;
  background: #579c87;
  color: #fdcb46;
  margin: auto;
  border-radius: 10px;
  font-size: 200%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  margin-bottom: 130px;
  margin-top: 50px;
}
.sommaire .menu0 .après .trois-points__bar {
  display: inline-block;
  animation: progress-3pts 400ms forwards ease-in-out infinite;
  animation-direction: alternate;
}
.sommaire .menu0 .après .trois-points__bar--1 {
  animation-delay: 133.3333333333ms;
}
.sommaire .menu0 .après .trois-points__bar--2 {
  animation-delay: 266.6666666667ms;
}
.sommaire .menu0 .après .trois-points__bar--3 {
  animation-delay: 400ms;
}
@media (min-width: 513px) and (max-width: 902px) {
  .sommaire .menu0 .après {
    font-size: 18px;
  }
}
@media (max-width: 512px) {
  .sommaire .menu0 .après {
    font-size: 80%;
  }
}

.enchantee {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  height: 100%;
}
@media (max-width: 1100px) {
  .enchantee {
    max-width: auto;
  }
}
.enchantee h2 {
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 15px;
  margin: 35px;
  padding-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.enchantee .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3c1218;
  background-color: #fcdfdb;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  padding: 50px 120px 20px 120px;
  height: 1400px;
  box-shadow: 0 0 5px 2px #e6e6e6;
}
@media (max-width: 1250px) {
  .enchantee .menu {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
}
.enchantee .menu .titre-menu__un {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 3em;
  font-weight: bold;
  font-family: "Devonshire";
  padding-bottom: 40px;
}
.enchantee .menu .titre-menu__un .musique {
  margin-top: 40px;
  width: 90px;
  height: 90px;
}
@media (max-width: 900px) {
  .enchantee .menu .titre-menu__un .musique {
    font-size: 2em;
  }
}
.enchantee .menu h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  font-size: 30px;
}
.enchantee .menu h3 .hover {
  text-align: center;
  margin: 0, auto;
  transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
  position: relative;
}
.enchantee .menu h3 .hover:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0px;
  height: 5px;
  transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 0;
  background: #3c1218;
}
.enchantee .menu h3:hover .hover:after {
  width: 100%;
  opacity: 1;
}
@media (max-width: 1250px) {
  .enchantee .menu h3 {
    justify-content: center;
  }
}
.enchantee .menu h3 .trait-g {
  width: 350px;
}
@media (max-width: 1250px) {
  .enchantee .menu h3 .trait-g {
    display: none;
  }
}
.enchantee .menu h3 .trait-d {
  width: 350px;
  margin-top: 13px;
}
@media (max-width: 1250px) {
  .enchantee .menu h3 .trait-d {
    display: none;
  }
}
.enchantee .menu h3 .hover {
  font-family: "Segoe Print";
  color: #3c1218;
}
.enchantee .menu .entrees {
  margin-bottom: 70px;
  width: auto;
  display: flex;
  flex-direction: column;
}
.enchantee .menu .entrees .ravioles, .enchantee .menu .entrees .caviar, .enchantee .menu .entrees .homard, .enchantee .menu .entrees .foie-gras {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Segoe Print" !important;
}
.enchantee .menu .plat {
  margin-bottom: 70px;
  width: auto;
  display: flex;
  flex-direction: column;
}
.enchantee .menu .plat .noix, .enchantee .menu .plat .langoustine, .enchantee .menu .plat .mijote {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Segoe Print" !important;
}
.enchantee .menu .dessert {
  width: auto;
  display: flex;
  flex-direction: column;
}
.enchantee .menu .dessert p {
  font-family: "Segoe Print";
}
@media (max-width: 1100px) {
  .enchantee .menu .dessert p {
    line-height: 2;
  }
}
.enchantee .menu .fin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Devonshire";
  font-size: 35px;
  margin-top: 20px;
  margin-bottom: 40px;
}
@media (max-width: 1100px) {
  .enchantee .menu .fin {
    display: none;
  }
}
.enchantee .menu .plat-prix span {
  display: inline-flex;
  font-weight: bold;
}
@media (max-width: 1100px) {
  .enchantee .menu .plat-prix {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
    width: auto;
  }
}

.francaise {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  height: 100%;
}
@media (max-width: 1100px) {
  .francaise {
    max-width: auto;
  }
}
.francaise h2 {
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 15px;
  margin: 35px;
  padding-bottom: 0;
  font-family: Arial, Helvetica, sans-serif;
}
.francaise .menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: #3c1218;
  background-color: #fff5fe;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  padding: 50px 120px 20px 120px;
  height: 1400px;
  box-shadow: 0 0 5px 2px #e6e6e6;
}
@media (max-width: 1250px) {
  .francaise .menu {
    width: 50%;
    margin-left: auto;
    margin-right: auto;
    height: auto;
  }
}
.francaise .menu .titre-menu__deux {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 3em;
  font-weight: bold;
  padding-bottom: 40px;
  font-family: "croissantone";
  background-image: linear-gradient(to right, #d8852e, #905bfd) !important;
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}
.francaise .menu h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-weight: bold;
  font-size: 30px;
  font-family: "Lucida fax";
}
.francaise .menu h3 .hover {
  text-align: center;
  margin: 0, auto;
  transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
  position: relative;
}
.francaise .menu h3 .hover:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0px;
  height: 5px;
  transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 0;
  background: linear-gradient(to right, #d8852e, #905bfd);
}
.francaise .menu h3:hover .hover:after {
  width: 100%;
  opacity: 1;
}
@media (max-width: 1250px) {
  .francaise .menu h3 {
    justify-content: center;
  }
}
@media (max-width: 1024px) {
  .francaise .menu h3 {
    display: inline-block;
  }
}
.francaise .menu h3 .chic1g, .francaise .menu h3 .chic1d {
  width: 200px;
}
@media (max-width: 1100px) {
  .francaise .menu h3 .chic1g, .francaise .menu h3 .chic1d {
    display: none;
  }
}
.francaise .menu .entre2 {
  width: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  font-family: "Baskerville Old face", "bell MT";
  color: #d8852e !important;
}
.francaise .menu .entre2 .hover {
  color: #d8852e;
}
.francaise .menu .entre2 .tartare, .francaise .menu .entre2 .veloute, .francaise .menu .entre2 .soupe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Lucida fax";
  color: #d8852e !important;
}
.francaise .menu .plat2 {
  margin-bottom: 70px;
  font-family: "Baskerville Old face", "bell MT";
  width: auto;
  display: flex;
  flex-direction: column;
}
.francaise .menu .plat2 .hover {
  color: #b37097;
}
.francaise .menu .plat2 .st-jacques, .francaise .menu .plat2 .magret, .francaise .menu .plat2 .pigeonneau {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Lucida Fax";
  color: #b37097 !important;
}
.francaise .menu .plat2 .dessert {
  width: auto;
  display: flex;
  flex-direction: column;
  margin-bottom: 70px;
  line-height: 2;
}
.francaise .menu .plat2 .dessert .hover {
  color: #905bfd;
}
.francaise .menu .plat2 .dessert .type-dessert {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Lucida fax";
  color: #905bfd !important;
}
.francaise .menu .menu .plat-prix span {
  font-family: "Baskerville Old face", "bell MT";
  display: inline-flex;
  font-weight: bold;
}
@media (max-width: 1100px) {
  .francaise .menu .menu .plat-prix {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
    width: auto;
  }
}

/* body
 { 
     @include body; 
     .francaise
     {   
         display:flex !important;
         flex-direction: column !important;
         justify-content: space-between !important;
         height: 100%;
         h2
         {   
             display:flex;
             justify-content: center;
             align-items: baseline;
             height:15px;
             margin:35px;
             padding-bottom:0;
         }
         .menu
         {   
             display:flex;
             flex-direction: column;
             justify-content: center;
             background-color:$color_fondchic; 
             width: 1000px;
             margin-left:auto;
             margin-right: auto;
             margin-bottom: 150px;
             padding-top: 50px;
             height:1400px;
             box-shadow:0 0 5px 2px hsl(0, 0%, 90%);
             .titre-menu_deux
             {
                 text-align: center;
                 margin:70px 0 60px 0;
                 font-size:2em;
                 font-family: 'croissantone';
                 background-image: linear-gradient(to right,#d8852e,#905bfd) !important; 
                 color:transparent;
                 background-clip:text;
                 -webkit-background-clip: text;
                 -moz-background-clip: text;
             }
             .entre2
             {
                 @include presentation-du-menu-prix;
                 margin-bottom: 70px;
                 font-family:"Baskerville Old face","bell MT";
                 color:  #d8852e !important;
                 .hover
                 {
                     color: #d8852e;
                 }
                 .tartare, .veloute, .soupe
                 {
                     @include style-menu;
                     font-family:"Lucida fax";
                     color: #d8852e !important;
                 }
             }
             h3 
             {   
                 display:flex;
                 flex-direction: row;
                 justify-content:space-between ;
                 text-align: center;
                 font-weight: bold;
                 padding:0;
                 width:900px;
                 @include titre-souligné-chic;
                 font-family:"Lucida fax";
                 @media(max-width:1024px)
                 {
                     display:inline-block;
                 }
                 .chic1g,.chic1d
                 {
                     width: 200px;
                     @media (max-width:1100px)
                     {
                         display: none;
                     }
                 }
             }
             .plat2
             {   
                 margin-bottom: 70px;
                 font-family:"Baskerville Old face","bell MT";
                 @include presentation-du-menu-prix;
                 .hover
                 {
                     color:#b37097;
                 }
                 .st-jacques, .magret, .pigeonneau
                 {
                     @include style-menu;
                     font-family:"Lucida Fax"; 
                     color:#b37097 !important;
                 }
             }
             .dessert2
             {
                 @include presentation-du-menu-prix;
                 margin-bottom: 70px;
                 line-height: 2;
                 .hover
                 {
                     color:#905bfd ;
                 }
                 .type-dessert 
                 {
                     @include style-menu;
                     font-family:"Lucida fax";
                     color:#905bfd !important;
                 }
             }
             .plat-prix
             { 
                 font-family:"Baskerville Old face","bell MT";
                 @media(max-width:1024px)
                 {
                     @include style-menu-res;
                 }
             }      
         }
     } 
 }*/
body {
  margin: 0;
  width: auto;
}
body .papilles {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  height: 100%;
}
body .papilles h2 {
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 15px;
  margin: 35px;
  padding-bottom: 0;
}
body .papilles menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #f9f9f9;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  padding-top: 50px;
  height: 1400px;
  box-shadow: 0 0 5px 2px #e6e6e6;
}
body .papilles menu .titre-menu {
  background-image: linear-gradient(to right, #0645e5, rgba(8, 135, 251, 0.6));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}
body .papilles menu .entre3 {
  width: auto;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  padding-bottom: 100px;
}
body .papilles menu .entre3 .tartare, body .papilles menu .entre3 .bouchee, body .papilles menu .entre3 .cepes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  font-family: "Segoe Print";
}
body .papilles menu h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  font-family: "Segoe Print";
}
body .papilles menu h3 .hover {
  text-align: center;
  margin: 0, auto;
  transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
  position: relative;
}
body .papilles menu h3 .hover:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0px;
  height: 5px;
  transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 0;
  background: linear-gradient(to right, #0645e5, rgba(8, 135, 251, 0.6));
}
body .papilles menu h3:hover .hover:after {
  width: 100%;
  opacity: 1;
}
body .papilles menu h3 .trait_g, body .papilles menu h3 .trait_d {
  width: 280px;
}
@media (max-width: 1440px) {
  body .papilles menu h3 .trait_g, body .papilles menu h3 .trait_d {
    display: none;
  }
}
body .papilles menu .plat3 {
  font-family: "Segoe Print";
  width: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}
body .papilles menu .plat3 .poulet, body .papilles menu .plat3 .langouste, body .papilles menu .plat3 .cote {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  font-family: "Segoe Print";
}
body .papilles menu .dessert3 {
  font-family: "Segoe Print";
  width: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}
body .papilles menu .dessert3 .farandole, body .papilles menu .dessert3 .creme, body .papilles menu .dessert3 .tiramisu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  font-family: "Segoe Print";
}
body .papilles menu span {
  font-size: 20px;
}
body .papilles menu h2, body .papilles menu h3 {
  font-weight: normal;
}
body .papilles menu h3 {
  padding-bottom: 20px;
}
body .papilles menu .plat-prix {
  margin: 0 70px 0 70px !important;
}
@media (max-width: 1024px) {
  body .papilles menu .plat-prix {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
    width: auto;
  }
}

body {
  margin: 0;
  width: auto;
}
body .gout {
  display: flex !important;
  flex-direction: column !important;
  justify-content: space-between !important;
  height: 100%;
}
body .gout h2 {
  display: flex;
  justify-content: center;
  align-items: baseline;
  height: 15px;
  margin: 35px;
  padding-bottom: 0;
}
body .gout menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background-color: #fdfdfd;
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 150px;
  padding-top: 50px;
  height: 1400px;
  box-shadow: 0 0 5px 2px #e6e6e6;
}
@media (max-width: 1024px) {
  body .gout menu {
    padding: 0 10px 50px 10px;
  }
}
body .gout menu h2 {
  background-image: linear-gradient(to right, #56a847, #bfff7e);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}
body .gout menu h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  font-weight: bold;
  font-family: "Segoe Print";
}
body .gout menu h3 .hover {
  text-align: center;
  margin: 0, auto;
  transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
  position: relative;
}
body .gout menu h3 .hover:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0px;
  height: 5px;
  transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 0;
  background: linear-gradient(to right, #56a847, #bfff7e);
}
body .gout menu h3:hover .hover:after {
  width: 100%;
  opacity: 1;
}
body .gout menu h3 .trait-gout-g, body .gout menu h3 .trait-gout-d {
  width: 330px;
}
@media (max-width: 1024px) {
  body .gout menu h3 .trait-gout-g, body .gout menu h3 .trait-gout-d {
    display: none;
  }
}
body .gout menu .entre4 {
  width: auto;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  padding-bottom: 100px;
}
body .gout menu .entre4 .fricassee, body .gout menu .entre4 .oeuf, body .gout menu .entre4 .foie {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  font-family: "Segoe Print";
}
body .gout menu .plat4 {
  width: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}
body .gout menu .plat4 .filet, body .gout menu .plat4 .parmentier, body .gout menu .plat4 .turbot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  font-family: "Segoe Print";
}
body .gout menu .dessert4 {
  width: auto;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}
body .gout menu .dessert4 .paris-brest, body .gout menu .dessert4 .macaron, body .gout menu .dessert4 .mousse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  font-family: "Segoe Print";
}
@media (max-width: 1024px) {
  body .gout menu .plat-prix {
    display: flex !important;
    flex-direction: column !important;
    justify-content: center !important;
    align-items: center !important;
    text-align: center;
    width: auto;
  }
}

h1 {
  text-align: center;
}

.bloc-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px grey ridge;
  width: 800px;
  margin: auto;
  padding: 0 5px 0 8px;
}
.bloc-page p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
.bloc-page p span {
  font-weight: bold;
}

/*# sourceMappingURL=style3.css.map */
