@charset "UTF-8";
@font-face {
  font-family: "Mitr-Medium";
  src: url("Mitr-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Devonshire-Regular";
  src: url("Devonshire-Regular/Devonshire/Devonshire-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Komikatext_bold_macroman";
  src: url("Komika-Text-fontfacekit/web fonts/komikatext_bold_macroman/KOMTXTB_-webfont.woff") format("truetype");
}
@font-face {
  font-family: "croissantone";
  src: url("Croissant-One/croissantone/CroissantOne-Regular.ttf") format("truetype");
}
body {
  height: 1606px;
}

#bloc-page {
  background-color: white;
  height: 1606px;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 161px;
  border-bottom: 2px #a1c181 solid;
  background-color: #579c87;
}

h1 {
  font-size: 60px;
  font-family: "Mitr-SemiBold", Arial, sans-serif;
  color: #fdcb46;
  align-items: center;
}

a {
  text-decoration: none;
}

main {
  display: flex;
  flex-direction: column;
  height: 1204px;
  align-items: center;
}
main .haut-menu {
  display: flex;
  flex-direction: row;
  padding-top: 64px;
  height: 514px;
  width: auto;
  font-size: 30px;
}
main .haut-menu .haut-menu__un {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  background: #fcdfdb;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0;
  width: 369px;
  height: 100%;
  box-shadow: 0 0 5px 2px #e6e6e6;
  font-family: "Devonshire-Regular";
  font-size: 30px;
}
main .haut-menu .haut-menu__un .menu-un {
  margin-top: 20px;
  font-family: "Komikatext_bold_macroman";
  font-size: 1.5em;
}
main .haut-menu .haut-menu__deux {
  display: flex;
  flex-direction: column;
  background: #fff5fe;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin-left: 60px;
  width: 369px;
  height: 100%;
  box-shadow: 0 0 5px 2px #e6e6e6;
  line-height: 2;
  font-family: "croissantone";
}
main .bas-menu {
  display: flex;
  flex-direction: row;
  height: 514px;
  padding-top: 64px;
  margin-bottom: 48px;
}
main .bas-menu .bas-menu__trois {
  display: flex;
  flex-direction: column;
  background: #f9f9f9;
  justify-content: center;
  text-align: center;
  align-items: center;
  margin: 0;
  width: 369px;
  height: 100%;
  box-shadow: 0 0 5px 2px #e6e6e6;
}
main .bas-menu .bas-menu__quatre {
  display: flex;
  justify-content: center;
  background: #fdfdfd;
  text-align: center;
  align-items: center;
  margin-left: 60px;
  width: 369px;
  height: 100%;
  box-shadow: 0 0 5px 2px #e6e6e6;
}

.après {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 50%;
  height: 81px;
  background: #579c87;
  color: #fdcb46;
  margin: auto;
  border-radius: 10px;
  font-size: 60px;
}

footer {
  display: flex;
  align-items: center;
  height: 112px;
  margin-top: 48PX;
  background-color: #579c87;
  justify-content: space-between;
  padding: 0 15px 0 15px;
}
footer a {
  text-decoration: none;
  color: #fdcb46;
  font-size: 40px;
}

/*# sourceMappingURL=style3.css.map */
