@charset "UTF-8";
@font-face {
  font-family: "Mitr-Medium";
  src: url("Mitr-SemiBold.ttf") format("truetype");
}
@font-face {
  font-family: "Devonshire";
  src: local("C:/Users/boire/OneDrive/Documents/Opensclassroom/FORMATION/projet3/Devonshire-Regular/devonshire/Devonsire-Regular.ttf") format("truetype");
}
@font-face {
  font-family: "Komika Text";
  src: local("KOMTXT_.TTF") format("truetype");
}
@font-face {
  font-family: "croissantone";
  src: url("Croissant-One/croissantone/CroissantOne-regular.ttf") format("truetype");
}
@font-face {
  font-family: "Dancing-Script";
  src: url("Dancing-Script-Bold/dancingscript/DancingScript-Bold.ttf") format("truetype");
}
@font-face {
  font-family: "Segoe Print";
  src: local("SEGOEPR.TTF") format("truetype");
}
@font-face {
  font-family: "Kaushan-Script";
  src: url("Kaushan-Script/Kaushanscript/KaushanScript-Regular.ttf") format("truetype");
}
@keyframes wiggle {
  0% {
    transform: translateX(5px);
  }
  5% {
    transform: translateY(5px);
  }
  10% {
    transform: translateX(-5px);
  }
  15% {
    transform: translateY(-5px);
  }
  20% {
    transform: translateX(5px);
  }
  25% {
    transform: translateY(5px);
  }
  30% {
    transform: translateX(-5px);
  }
  35% {
    transform: translateY(-5px);
  }
  40% {
    transform: translateX(5px);
  }
  45% {
    transform: translateY(5px);
  }
  50% {
    transform: translateX(-5px);
  }
  55% {
    transform: translateY(-5px);
  }
  60% {
    transform: translateX(5px);
  }
  65% {
    transform: translateY(5px);
  }
  70% {
    transform: translateX(-5px);
  }
  75% {
    transform: translateY(-5px);
  }
  80% {
    transform: translateX(5px);
  }
  85% {
    transform: translateY(5px);
  }
  90% {
    transform: translateX(-5px);
  }
  95% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateX(5px);
  }
}
@keyframes progress-3pts {
  0% {
    transform: translateY(-5px);
  }
  10% {
    transform: translateY(-6px);
  }
  20% {
    transform: translateY(-7px);
  }
  30% {
    transform: translateY(-8px);
  }
  40% {
    transform: translateY(-9px);
  }
  50% {
    transform: translateY(-10px);
  }
  60% {
    transform: translateY(-11px);
  }
  70% {
    transform: translateY(-12px);
  }
  80% {
    transform: translateY(-13px);
  }
  90% {
    transform: translateY(-14px);
  }
  100% {
    transform: translateY(-15px);
  }
}
body {
  margin: 0;
}

#bloc-page {
  margin: auto;
  width: 1100px;
  background-color: white;
}

header {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 161px;
  border-bottom: 2px #a1c181 solid;
  background-color: #579c87;
  width: auto;
}

h1 {
  font-size: 60px;
  font-family: "Mitr-SemiBold", Arial, sans-serif;
  color: #fdcb46;
  align-items: center;
}

a {
  text-decoration: none;
  margin: 20px;
}

.sommaire {
  display: flex;
  flex-direction: column;
  height: 100%;
  align-items: stretch;
}
.sommaire .haut-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  padding-top: 64px;
  height: 514px;
  width: auto;
}
.sommaire .haut-menu .note {
  background-color: #fcdfdb;
  transition: transform 450ms, background-color 450ms;
}
.sommaire .haut-menu .note:hover {
  transform: scale(1.1);
  background-color: rgba(252, 223, 219, 0.7);
}
.sommaire .haut-menu .haut-menu__un {
  display: flex;
  flex-direction: column;
  flex-wrap: nowrap;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 369px;
  height: 100%;
  box-shadow: 0 0 5px 2px #e6e6e6;
  font-family: "Devonshire";
  font-size: 30px;
  color: #3c1218;
}
.sommaire .haut-menu .haut-menu__un .menu-un {
  margin-top: 20px;
  font-family: "Komika Text";
  font-weight: bold;
  font-size: 40px;
  color: #3c1218;
}
.sommaire .haut-menu .chic {
  background-color: #fff5fe;
  transition: transform 450ms, background-color 450ms;
}
.sommaire .haut-menu .chic:hover {
  transform: scale(1.1);
  background-color: rgba(255, 245, 254, 0.7);
}
.sommaire .haut-menu .haut-menu__deux {
  background-color: #fff5fe;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  width: 369px;
  height: 100%;
  box-shadow: 0 0 5px 2px #e6e6e6;
  font-family: "croissantone";
  font-size: 25px;
  background-image: linear-gradient(to right, #d8852e, #905bfd);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}
.sommaire .haut-menu .haut-menu__deux .menu-deux {
  font-family: "Lucida Fax", "Lucida Sans Regular", "Lucida Grande", "Lucida Sans Unicode", Geneva, "Verdana", "sans-serif";
  font-weight: bold;
  font-size: 40px;
  color: #c77412;
  margin-top: 20px;
}
.sommaire .bas-menu {
  display: flex;
  flex-direction: row;
  justify-content: center;
  height: 514px;
}
.sommaire .bas-menu .papilles {
  background-color: #f9f9f9;
  transition: transform 450ms, background-color 450ms;
}
.sommaire .bas-menu .papilles:hover {
  transform: scale(1.1);
  background-color: rgba(249, 249, 249, 0.7);
}
.sommaire .bas-menu .bas-menu__trois {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  width: 369px;
  height: 100%;
  box-shadow: 0 0 5px 2px #e6e6e6;
  font-family: "Dancing-Script";
  font-size: 40px;
  font-weight: bold;
  background-image: linear-gradient(to right, #0645e5, rgba(8, 135, 251, 0.7));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}
.sommaire .bas-menu .bas-menu__trois .menu-trois {
  font-family: "Segoe Print";
  margin-top: 20px;
  font-weight: lighter;
  color: #0887fb;
}
.sommaire .bas-menu .gout {
  background-color: #fdfdfd;
  transition: transform 450ms, background-color 450ms;
}
.sommaire .bas-menu .gout:hover {
  transform: scale(1.1);
  background-color: rgba(253, 253, 253, 0.7);
}
.sommaire .bas-menu .bas-menu__quatre {
  display: flex;
  flex-direction: column;
  justify-content: center;
  background: #fdfdfd;
  text-align: center;
  width: 369px;
  height: 100%;
  box-shadow: 0 0 5px 2px #e6e6e6;
  font-family: "Kaushan-Script";
  font-size: 40px;
  background-image: linear-gradient(to right, #56a847, #bfff7e);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}
.sommaire .bas-menu .bas-menu__quatre .menu-quatre {
  font-family: "Segoe Print";
  font-size: 40px;
  color: #72bf56;
}

@media (max-width: 1024px) {
  .cadre {
    height: 500px !important;
  }
}

@media (max-width: 1024px) {
  .colonne {
    display: flex !important;
    flex-direction: column !important;
    align-items: center !important;
    justify-content: space-around !important;
    height: 100% !important;
    width: auto;
  }
}

.après {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
  width: 30%;
  height: 81px;
  background: #579c87;
  color: #fdcb46;
  margin: auto;
  border-radius: 10px;
  font-size: 200%;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
  margin-bottom: 130px;
}
.après .trois-points {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: baseline;
}
.après .trois-points__bar {
  animation: progress-3pts 400ms forwards ease-in-out infinite;
  animation-direction: alternate;
}
.après .trois-points__bar--1 {
  animation-delay: 133.3333333333ms;
}
.après .trois-points__bar--2 {
  animation-delay: 266.6666666667ms;
}
.après .trois-points__bar--3 {
  animation-delay: 400ms;
}
@media (max-width: 1024px) {
  .après {
    font-size: 100%;
  }
}

footer {
  display: flex;
  align-items: center;
  height: 112px;
  margin-top: 48PX;
  background-color: #579c87;
  justify-content: space-between;
  padding: 0 15px 0 15px;
  width: 100%;
  position: fixed;
  left: 0%;
  bottom: 0%;
}
@media (max-width: 1024px) {
  footer {
    justify-content: center;
  }
}
footer a {
  text-decoration: none;
  color: #fdcb46;
  font-size: 40px;
  font-family: Arial, Helvetica, sans-serif;
}
footer a:hover {
  animation-name: wiggle;
  animation-duration: 0.8s;
  animation-iteration-count: infinite;
}

h2 {
  font-size: 3rem;
  margin-bottom: 70px;
  text-align: center;
}

.repas1 {
  display: flex;
  flex-direction: column;
  background: #fcdfdb;
  justify-content: space-around;
  align-items: center;
  height: 100%;
  box-shadow: 0 0 5px 2px #e6e6e6;
  font-size: 20px;
  margin: 0 5% 15% 5%;
}
@media (max-width: 1024px) {
  .repas1 {
    padding: 0 10px 50px 10px;
  }
}
.repas1 .titre-menu__un {
  display: flex;
  color: #3c1218;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-size: 3em;
  font-weight: bold;
  font-family: "Devonshire";
  padding-bottom: 70px;
}
.repas1 .titre-menu__un .musique {
  padding-top: 50px;
  width: 50px;
  height: 50px;
}
.repas1 .entrees {
  margin-bottom: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.repas1 .ravioles, .repas1 .caviar, .repas1 .homard, .repas1 .foie-gras {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Segoe Print";
}
.repas1 h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-bottom: 30px;
  text-align: center;
  font-family: "Segoe Print";
  font-weight: bold;
  font-size: 30px;
}
.repas1 h3 .hover {
  text-align: center;
  margin: 0, auto;
  transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
  position: relative;
}
.repas1 h3 .hover:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0px;
  height: 5px;
  transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 0;
  background: #3c1218;
}
.repas1 h3:hover .hover:after {
  width: 100%;
  opacity: 1;
}
@media (max-width: 1100px) {
  .repas1 h3 {
    display: inline-block;
  }
}
.repas1 h3 > .trait, .repas1 h3 .trait-d {
  width: 280px;
}
@media (max-width: 1100px) {
  .repas1 h3 > .trait, .repas1 h3 .trait-d {
    display: none;
  }
}
.repas1 .hover {
  color: #3c1218;
}
.repas1 .plat {
  margin-bottom: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.repas1 .noix, .repas1 .langoustine, .repas1 .mijote {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Segoe Print";
}
.repas1 .fin {
  display: flex;
  flex-direction: row;
  justify-content: center;
  text-align: center;
  align-items: center;
  font-family: "Devonshire";
  font-size: 35px;
  margin-top: 50px;
  margin-bottom: 20px;
}
.repas1 .dessert {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.repas1 .dessert > p {
  font-family: "Segoe Print";
}
@media (max-width: 1024px) {
  .repas1 .dessert > p {
    line-height: 2;
  }
}
.repas1 .plat-prix {
  color: #3c1218;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
@media (max-width: 1024px) {
  .repas1 .plat-prix {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    text-align: center;
    width: auto;
    flex-wrap: wrap;
  }
}

.repas2 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  background-color: #fff5fe;
  height: 100%;
  font-family: "Baskerville Old face", "bell MT";
  font-size: 20px;
  margin: 0 20% 0 20%;
  box-shadow: 0 0 5px 2px #e6e6e6;
  padding: 80px 120px 120px 120px;
}
@media (max-width: 1024px) {
  .repas2 {
    padding: 0 10px 50px 10px;
  }
}
.repas2 .chic2 {
  margin: 90px, 0, 90px, 0;
}
.repas2 .titre-menu_deux {
  text-align: center;
  margin-bottom: 150px;
  font-size: 2em;
  font-family: "croissantone";
  background-image: linear-gradient(to right, #d8852e, #905bfd);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}
.repas2 .entre2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #d8852e;
  margin-bottom: 70px;
}
.repas2 .tartare, .repas2 .veloute, .repas2 .soupe {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Lucida fax";
}
.repas2 h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  font-weight: bold;
  padding: 0;
  width: inherit;
  font-family: "Lucida fax";
}
.repas2 h3 .hover {
  text-align: center;
  margin: 0, auto;
  transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
  position: relative;
}
.repas2 h3 .hover:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0px;
  height: 5px;
  transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 0;
  background: linear-gradient(to right, #d8852e, #905bfd);
}
.repas2 h3:hover .hover:after {
  width: 100%;
  opacity: 1;
}
@media (max-width: 1024px) {
  .repas2 h3 {
    display: inline-block;
  }
}
.repas2 h3 .chic1g, .repas2 h3 .chic1d {
  width: 200px;
}
@media (max-width: 1420px) {
  .repas2 h3 .chic1g, .repas2 h3 .chic1d {
    display: none;
  }
}
.repas2 .plat2 {
  color: #b37097;
  margin-bottom: 70px;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.repas2 .st-jacques, .repas2 .magret, .repas2 .pigeonneau {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Lucida Fax";
}
.repas2 .dessert2 {
  width: 100%;
  display: flex;
  flex-direction: column;
  color: #905bfd;
  margin-bottom: 70px;
  line-height: 2;
}
.repas2 .type-dessert {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-family: "Lucida fax";
}
@media (max-width: 1024px) {
  .repas2 .plat-prix {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    text-align: center;
    width: auto;
    flex-wrap: wrap;
  }
}

.repas3 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #f9f9f9;
  margin: 0 20% 0 20%;
  box-shadow: 0 0 5px 2px #e6e6e6;
  padding: 80px 120px 120px 120px;
  font-family: "Dancing-Script", "Palace Script MT", "Kunstler Script";
  font-weight: bold;
}
@media (max-width: 1024px) {
  .repas3 {
    padding: 0 10px 50px 10px;
  }
}
.repas3 .titre-menu {
  background-image: linear-gradient(to right, #0645e5, rgba(8, 135, 251, 0.6));
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}
.repas3 .entre3 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  padding-bottom: 100px;
}
.repas3 .tartare, .repas3 .bouchee, .repas3 .cepes {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  font-family: "Segoe Print";
}
.repas3 h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  font-family: "Segoe Print";
}
@media (max-width: 11440024px) {
  .repas3 h3 {
    display: inline-block;
    text-align: center;
  }
}
.repas3 h3 .trait_g, .repas3 h3 .trait_d {
  width: 280px;
}
@media (max-width: 1440px) {
  .repas3 h3 .trait_g, .repas3 h3 .trait_d {
    display: none;
  }
}
.repas3 h3 .hover {
  text-align: center;
  margin: 0, auto;
  transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
  position: relative;
}
.repas3 h3 .hover:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0px;
  height: 5px;
  transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 0;
  background: linear-gradient(to right, #0645e5, rgba(8, 135, 251, 0.6));
}
.repas3 h3:hover .hover:after {
  width: 100%;
  opacity: 1;
}
.repas3 .plat3 {
  font-family: "Segoe Print";
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}
.repas3 .poulet, .repas3 .langouste, .repas3 .cote {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  font-family: "Segoe Print";
}
.repas3 .dessert3 {
  font-family: "Segoe Print";
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}
.repas3 .farandole, .repas3 .creme, .repas3 .tiramisu {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  font-family: "Segoe Print";
}
.repas3 span {
  font-size: 20px;
}
.repas3 h2, .repas3 h3 {
  font-weight: normal;
}
.repas3 h3 {
  padding-bottom: 20px;
}
@media (max-width: 1024px) {
  .repas3 .plat-prix {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    text-align: center;
    width: auto;
    flex-wrap: wrap;
  }
}

.repas4 {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  background-color: #fdfdfd;
  margin: 0 20% 0 20%;
  height: 100%;
  box-shadow: 0 0 5px 2px #e6e6e6;
  padding: 80px 120px 120px 120px;
  font-family: "Kaushan-Script";
  font-weight: bold;
}
@media (max-width: 1024px) {
  .repas4 {
    padding: 0 10px 50px 10px;
  }
}
.repas4 h2 {
  background-image: linear-gradient(to right, #56a847, #bfff7e);
  color: transparent;
  background-clip: text;
  -webkit-background-clip: text;
  -moz-background-clip: text;
}
.repas4 h3 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  text-align: center;
  font-weight: bold;
  font-family: "Segoe Print";
}
.repas4 h3 .hover {
  text-align: center;
  margin: 0, auto;
  transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
  position: relative;
}
.repas4 h3 .hover:after {
  content: "";
  position: absolute;
  bottom: -5px;
  left: 0;
  width: 0px;
  height: 5px;
  transition: width 0.2s ease-in-out, opacity 0.2s ease-in-out;
  transition-duration: 0.75s;
  opacity: 0;
  background: linear-gradient(to right, #56a847, #bfff7e);
}
.repas4 h3:hover .hover:after {
  width: 100%;
  opacity: 1;
}
@media (max-width: 1440px) {
  .repas4 h3 {
    display: inline-block;
    text-align: center;
  }
}
.repas4 h3 .trait-gout-g, .repas4 h3 .trait-gout-d {
  width: 330px;
}
@media (max-width: 1440px) {
  .repas4 h3 .trait-gout-g, .repas4 h3 .trait-gout-d {
    display: none;
  }
}
.repas4 .entre4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-top: 120px;
  padding-bottom: 100px;
}
.repas4 .fricassee, .repas4 .oeuf, .repas4 .foie {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  font-family: "Segoe Print";
}
.repas4 .plat4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}
.repas4 .filet, .repas4 .parmentier, .repas4 .turbot {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  font-family: "Segoe Print";
}
.repas4 .dessert4 {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding-bottom: 100px;
}
.repas4 .paris-brest, .repas4 .macaron, .repas4 .mousse {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  padding-bottom: 10px;
  font-family: "Segoe Print";
}
@media (max-width: 1024px) {
  .repas4 .plat-prix {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 0;
    text-align: center;
    width: auto;
    flex-wrap: wrap;
  }
}

h1 {
  text-align: center;
}

.bloc-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 3px grey ridge;
  width: 800px;
  margin: auto;
  padding: 0 5px 0 8px;
}
.bloc-page p {
  font-family: Arial, Helvetica, sans-serif;
  text-align: left;
}
.bloc-page p span {
  font-weight: bold;
}

/*# sourceMappingURL=style3.css.map */
